<style>
    .mygrid {
        display: grid;
        grid-template-columns: repeat(4, 12vmax);
        grid-template-rows: repeat(4, 1.2vmax);
        /* height: 100vh; */
    }

        .mygrid div {
            background-color: beige;
            text-align: center;
        }
</style>

<div class="mygrid">
    <div class="text-primary-emphasis">text-primary-emphasis</div>
    <div class="text-secondary-emphasis">text-secondary-emphasis</div>
    <div class="text-success-emphasis">text-success-emphasis</div>
    <div class="text-info-emphasis">text-info-emphasis</div>
    <div class="text-warning-emphasis">text-warning-emphasis</div>
    <div class="text-danger-emphasis">text-danger-emphasis</div>
    <div class="text-light-emphasis">text-light-emphasis</div>
    <div class="text-dark-emphasis">text-dark-emphasis</div>
    <div class="text-primary">text-primary</div>
    <div class="text-secondary">text-secondary</div>
    <div class="text-success">text-success</div>
    <div class="text-info">text-info</div>
    <div class="text-warning">text-warning</div>
    <div class="text-danger">text-danger</div>
    <div class="text-light">text-light</div>
    <div class="text-dark">text-dark</div>
</div>