@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li><a href="/Index2Model">Index2Model</a></li>
        <li><a href="/TestModel">TestModel</a></li>
        <li><a href="/PositionOptionsModel">PositionOptionsModel</a></li>
        <li><a href="/IOptionsPatternModel">IOptionsPatternModel</a></li>
        <li><a href="/IOptionsSnapshotPatternModel">IOptionsSnapshotPatternModel</a></li>
        <li><a href="/IOptionsMonitorPatternModel">IOptionsMonitorPatternModel</a></li>
        <li><a href="/PositionOptionsWithConfigurationKeyNameModel">PositionOptionsWithConfigurationKeyNameModel</a></li>
        <li><a href="/NamedOptionsModel">NamedOptionsModel</a></li>
        <li><a href="/OptionsValidationModel">OptionsValidationModel</a></li>
    </ul>
    @Html.Partial("_BootstrapTextColors")
</div>
